tbody {
  counter-reset: ctr;
}

.user .num::before {
  counter-increment: ctr;
  content: counter(ctr);
  /* content: ">"; */
}
.user select {
  cursor: pointer;
}
.admin {
  pointer-events: none;
  color: #aaa;
}
