:root {
  --main-color: #394dff;
  --dark-color: #232323;
}
/* TODO: add linear graiant in backgorund */
main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
}

main .overlap {
  width: 90%;
  /* background-color: red; */
  padding: 10px;
  margin-top: 40px;
}

/* Box */
main .box {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  padding: 40px 30px;
  height: fit-content;
  background: rgba(57, 77, 255, 0.9);
  /* backdrop-filter: blur(10px); */
  border-radius: 30px;
  /* background-color: red; */
  /* overflow: hidden; */
  min-width: 500px;
}
/* image */
.motivation-img {
  position: absolute;
  width: 90%;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  right: 105%;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: slow-move;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  overflow: hidden;
}
.motivation-img img {
  max-height: 100%;
  max-width: 100%;
}
/* description */
.descritpion {
  position: absolute;
  width: 90%;
  height: 100%;
  top: 0;
  left: 90%;
  padding-top: 20px;
  padding-left: 70px;
  padding-right: 20px;
  border-radius: 20px;
  background: rgba(57, 77, 255, 0.05);
  backdrop-filter: blur(10px);
  z-index: -1;
  overflow: hidden;
}
.descritpion p {
  font-size: 18px;
  line-height: 1.1;
  color: #eee;
  font-weight: lighter;
}
.rating {
  margin-top: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 18px;
  color: #ddd;
  /* color: #fff239; */
}
.rating i {
  font-size: 14px;
  cursor: auto;
}
.rating i.active {
  color: #fff239;
}

.tags .tag {
  font-size: 12px;
}
/* .descritpion .description-tags {
  display: flex;
  justify-content: left;
  align-self: center;
  flex-direction: row;
  gap: 10px;
} */
main .top-text {
  position: relative;
  /* margin-bottom: 25px; */
}
main .top-text h1 {
  font-size: 24px;
}

main .top-text span {
  font-size: 12px;
}

main h1 {
  position: relative;
  width: fit-content;
  font-weight: 700;
  color: #fff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 2.61px;
  line-height: 23.4px;
  white-space: nowrap;
}

main p {
  position: relative;
  font-weight: 700;
  color: #ddd;
  font-size: 10px;
  letter-spacing: 1.45px;
  line-height: 13px;
}
main .items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  cursor: pointer;
  position: relative;
}
main .item {
  display: flex;
  /* width: 204px; */
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.3s;
  font-size: 16px;
}
main .item:hover {
  transform: translateY(-5%);
}
main .item-title {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: 700;
  color: #394dff;
  letter-spacing: 1.45px;
  line-height: 13px;
  white-space: nowrap;
}
/* tools */
.tools {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: 20;
}
.tools button {
  background-color: transparent;
  border: none;
  height: fit-content;
  width: fit-content;
  padding: 0;
}
.tools button .btn {
  color: white;
  font-size: 20px;
  opacity: 0.7;
  transition: 0.3s;
}
.tools button .btn:hover {
  opacity: 1;
}
.discussionBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: var(--dark-color); */
  background: rgba(35, 35, 35, 0.9);
  backdrop-filter: blur(5px);
  border-radius: 5px;
}
.discussions {
  height: 90%;
}
.message-tools {
  height: 10%;
}
.stars {
  padding: 5px;
  background-color: var(--dark-color);
  border-radius: 20px;
}
.stars input {
  display: none;
}
.stars label {
  cursor: pointer;
}
i {
  font-size: 20px;
  color: #aaa;
  padding: 5px;
  cursor: pointer;
}
.stars label:hover i,
.stars label:hover ~ label i,
.stars input[type="radio"] ~ label:hover i,
.stars input[type="radio"]:checked ~ label i {
  /* color: var(--main-color); */
  color: white;
}
.stars label:hover i {
  /* background-color: red; */
  color: white;
}
a {
  text-decoration: none;
}

.fa-arrow-left {
  position: absolute;
  top: 20px;
  left: 30px;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .descritpion {
    top: 105%;
    width: 100%;
    height: fit-content;
    padding: 30px;
    margin-bottom: 20px;
    left: 0;
  }
  .motivation-img {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  main .box {
    min-width: 300px;
  }
  main .item {
    padding: 10px;
  }
  main .item-title {
    font-size: 10px;
  }
}

@keyframes slow-move {
  0%,
  100% {
    transform: translateY(-55%);
  }
  50% {
    transform: translateY(-50%);
  }
}
