button {
  border-radius: 30px;
}

/* Header Box */
.intro-box {
  height: 90vh;
  /* height: 100%; */
}
.intro-box .container {
  flex-direction: column;
}
.intro-box .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  /* color:var(--main-color); */
  color: white;
  margin-bottom: 20px;
}
.text h1 {
  font-size: 82px;
  font-weight: bold;
}
.text h2 {
  font-size: 22px;
  color: #eeeeee;
  font-weight: normal;
}
.text h2 span,
.text h1 span {
  color: var(--main-color);
  /* -webkit-mask-image: blue;
    mask-image: blue; */
}
.text h3 {
  font-size: 18px;
  color: #eeeeee;
  font-weight: lighter;
}
/* Check box */
input[type="checkbox"] {
  accent-color: var(--main-color);
}

@media screen and (max-width: 600px) {
  .text h1 {
    font-size: 42px;
  }
  .text h2 {
    font-size: 16px;
  }
  .text h3 {
    font-size: 12px;
  }
  .button-style {
    font-size: 20px;
  }

  .intro-box .text {
    margin-bottom: 0px;
  }
}
