:root{
    --main-color:#394DFF;
    --dark-color:#232323;
    --second-color:#5A6BFF;
    --third-color:#7B88FF;
    --fourth-color:#BDC4FF;
    --fifth-darker-color:#202d9b;
}

.container{
    flex-direction: column;
}
nav .container{
    flex-direction: row;
    
}

main .courses {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    width: 100%;
    /* height: 396px; */
    max-height: 100vh;
    height: 100%;
    /* overflow: hidden; */
    overflow-y: scroll;
}

main .search-bar {
    display: flex;
    align-items: center;
    width: 90%;
    height: 50px;
    gap: 4px;
    padding: 7px 10px;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 30px;
}
main .item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    /* width: 105px; */
    min-height: 100px;
    gap: 6px;
    padding: 11px 8px;
    background-color: #394dff;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}
main .item:nth-child(2n) {
  background: var(--second-color)
}
main .item:nth-child(3n) {
  background: var(--third-color)
}
main .item:nth-child(4n) {
  background: var(--fifth-darker-color)
}
main .item:hover{
    scale: 1.05;
    /* box-shadow: 0 20px 30px #003cff; */
    /* box-shadow: 0 0 2px #888; */
}
  
main .title {
    position: relative;
    width: fit-content;
    /* margin-top: -1px; */
    /* font-family: "Inter-Bold", Helvetica; */
    font-weight: 700;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1.74px;
    line-height: 15.6px;
}

main p {
    position: relative;
    /* align-self: stretch; */
    /* height: 58px; */
    /* font-family: "Inter-Bold", Helvetica; */
    font-weight: 700;
    max-width: 100%;
    height: 100%;
    /* background-color: red; */
    overflow: hidden;
    color: #eeeeee;
    font-size: 6px;
    letter-spacing: 0.87px;
    line-height: 7.8px;
    word-wrap: break-word;
    white-space: normal;
}


/* 
  main .overlap-group {
    position: relative;
    width: 121px;
    height: 29px;
  }
   */

main .search-bar input{
    background-color: #333333;
    width: 100%;
    border: none;
    padding: 20px;
    border-radius: 20px;
    color: white;
    outline: none;

}