

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Inter:wght@100;500;700;900&family=Roboto:wght@100;300;500&family=Rubik:wght@300;500;700;900&family=Tulpen+One&display=swap" rel="stylesheet"> -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap.min.css"> 
    <!-- Font Awesom -->
    <link rel="stylesheet" href="/all.min.css"> 
       <!-- SweetAlert2 CSS -->
       <link rel="stylesheet" href="/sweetalert2.min.css">
    <!-- Icon -->
    <link rel="icon" type="image/x-icon" href="/logo-min.svg">
    <!-- CSS  -->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="/EducatorDashboard.css">
    <title>STEMREF | Educator Page</title>
    <style>
        .container form input{
            background-color: transparent;
        }
    </style>
  

</head>
<body>
    <main>
        <nav class="navbar navbar-expand-lg navbar-dark p-lg-4 p-md-4"   style="background-color: #232323;">
            <div class="container">
              <a class="navbar-brand" href="/"><img class="logo" src="./logo.svg" alt="logo"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent"  style="background-color: #232323;">
                <ul class="navbar-nav mb-2 mb-lg-0 w-100  align-items-center">
                    <!-- <li class="nav-item"><a class="nav-link" href="/">Home</a></li> -->
                    <li class="nav-item active"><a class="nav-link" aria-current="page" href="/">Admin</a></li>
                        <!-- <li class="nav-item loginLink"><a class="nav-link" href="/login">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li> -->
                        <div class="dropstart ms-md-auto">
                            <button class="btn dropdown-toggle d-flex justify-content-center align-items-center h-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                              <img src="/avatars/<%= data.user.img %>" class="rounded-circle navbar-user-avatar " style="width: 50px;">
                            </button>

                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarAvatarDropdown">
                            <a class="dropdown-item disabled" href="/">Hi <%= data.user.name %></a>
                            <a class="dropdown-item" href="/profile">Profile</a>
                            <a class="dropdown-item" href="https://twitter.com/intent/tweet?url=http://129.151.139.163/&text=you+search+for+whatever+learning+matirial+here&hashtags=STEMREF" target="_blank">Refer to friends</a>
                            <a class="dropdown-item" href="mailto:moq3e2000@gmail.com">Give Feedback</a>
                            <a class="dropdown-item" href="/signout">Signout <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                        </div>
                  
                </ul>
            
              </div>
            </div>
          </nav>
          <div class="users-box">
            <!-- all users here -->
          </div>
    </main>
    <footer class="text-center w-100">
        <p>Created by <a href="https://github.com/A222moq3e/STEMREF/" target="_blank">STEMREF Team</a></p>
     </footer>
    <!-- Bootstrap JS -->
    <!--<script src="/bootstrap.min.js"></script> -->
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DTZ0K15FEB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DTZ0K15FEB');
</script>
   <script src="/bootstrap.min.js"></script>
    <!-- SweetAlert2 JavaScript -->
    <script src="/sweetalert2.all.min.js"></script>
    <script src="/main.js"></script>
    
    <div class="waves" ></div>

</body>
</html> 