<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Inter:wght@100;500;700;900&family=Roboto:wght@100;300;500&family=Rubik:wght@300;500;700;900&family=Tulpen+One&display=swap" rel="stylesheet">
    <!-- font awesome Library -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <!-- Icon -->
    <link rel="icon" type="image/x-icon" href="/imgs/logo-min.svg">
    <!-- CSS  -->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/courseContent.css">
        <title>STEMREF | Course Content Page</title>
  </head>
  <body>
    <main>
      
        <nav>
          <div class="container">
              <img class="logo" src="/logo.svg" alt="">
          </div>
          </nav>
        <div class="overlap">
          <div class="container">
            <div class="box">
              <div class="top-text">
                  <h1><%= data.name %></h1>
                <p>
                    <%= data.desc %>
                </p>
              </div>
              <div class="items">
                  <% for(const [key, value] of Object.entries(data.content)){ %>
                    <div class="item">
                        <div class="item-title"><%= key %></div>
                      <i class="fa-solid fa-chevron-down fa-rotate-270"></i>
                      </div>
                  <% } %>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="/main.js"></script>
    <img class="waves" src="/waves.svg" alt="waves background">
  </body>
</html>
