

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src *; img-src * data:; style-src * 'unsafe-inline'; font-src *; script-src * 'unsafe-inline' 'unsafe-eval';">    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Inter:wght@100;500;700;900&family=Roboto:wght@100;300;500&family=Rubik:wght@300;500;700;900&family=Tulpen+One&display=swap" rel="stylesheet"> -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap.min.css"> 
    <!-- Font Awesom -->
    <link rel="stylesheet" href="/all.min.css"> 
    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="/sweetalert2.min.css">
    <!-- Icon -->
    <link rel="icon" type="image/x-icon" href="/logo-min.svg">
    <!-- CSS  -->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="/EducatorDashboard.css">
    <title>STEMREF | Educator Page</title>
    <style>
        .container form input{
            background-color: transparent;
        }
    </style>
  

</head>
<body>
    <main>
        <nav class="navbar navbar-expand-lg navbar-dark p-lg-4 p-md-4"   style="background-color: #232323;">
            <div class="container">
              <a class="navbar-brand" href="/"><img class="logo" src="./logo.svg" alt="logo"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent"  style="background-color: #232323;">
                <ul class="navbar-nav mb-2 mb-lg-0 w-100  align-items-center">
                    <!-- <li class="nav-item"><a class="nav-link" href="/">Home</a></li> -->
                    <li class="nav-item active"><a class="nav-link" aria-current="page" href="/">EducatorDashboard</a></li>
                        <!-- <li class="nav-item loginLink"><a class="nav-link" href="/login">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li> -->
                        <div class="dropstart ms-md-auto">
                            <button class="btn dropdown-toggle d-flex justify-content-center align-items-center h-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                              <img src="/avatars/<%= data.user.img %>" class="rounded-circle navbar-user-avatar " style="width: 50px;">
                            </button>

                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarAvatarDropdown">
                            <a class="dropdown-item disabled" href="/">Hi <%= data.user.name %></a>
                            <a class="dropdown-item" href="/profile">Profile</a>
                            <a class="dropdown-item" href="https://twitter.com/intent/tweet?url=http://129.151.139.163/&text=you+search+for+whatever+learning+matirial+here&hashtags=STEMREF" target="_blank">Refer to friends</a>
                            <a class="dropdown-item" href="mailto:moq3e2000@gmail.com">Give Feedback</a>
                            <a class="dropdown-item" href="/signout">Signout <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                        </div>
                  
                </ul>
            
              </div>
            </div>
          </nav>
        <div class="box">
            <div class="container">
                <form action="/EducatorDashboard" method="post">
                    <div class="top-text">
                        <h1>Add new Course</h1>
                        <!-- <p class="hi-message">Welcom new Member</p> -->
                    </div>
                    <!-- CourseName input field -->
                    <div class="CourseName">
                        <label for="CourseName">Course Name</label>
                        <input type="text" id="CourseName" name="CourseName" >
                    </div>
                    <!-- Password input field -->
                    <div class="description">
                        <label for="description">Description</label>
                        <input type="text" id="description" name="description">
                    </div>
                    <div class="tags">
                        <label for="tags">tags</label>
                        <input type="text" id="tags0" name="tags" placeholder="tag name" value="course" disabled>
                        <% for(let i=0; i<5;i++){ %>
                        <input type="text" id="tags<%i%>" name="tags" placeholder="tag name">
                        <% } %>
                    </div>
                    <div class="paid-course" style="cursor:pointer">
                        <label for="paidContent" >Paid Course</label>
                        <input type="checkbox" id="paidContent" name="paidContent">
                    </div>
                   <div class="content">
                    <div class="Video row">
                        <label for="Video col-12">Video</label>
                        <% for(let i=0; i<5;i++){ %>
                        <input class="col-5" type="text" id="Video" name="Video" placeholder="name" >
                        <input class="col-5" type="text" id="Video" name="VideoUrl" placeholder="url">
                        <% } %>
                    </div>
                    <div class="articles row">
                        <label for="articles col-12">Articles</label>
                        <% for(let i=0; i<5;i++){ %>
                        <input  class="col-5"  type="text" id="articles" name="article" placeholder="name">
                        <input  class="col-5"  type="text" id="articles" name="articlesUrl" placeholder="url">
                        <% } %>
                    </div>
                    <div class="quizzes row">
                        <label for="quizzes col-12">Quizzes</label>
                        <% for(let i=0; i<5;i++){ %>
                        <input  class="col-5" type="text" id="quizzes" name="quizzes" placeholder="name">
                        <input  class="col-5" type="text" id="quizzes" name="quizzesUrl" placeholder="url">
                        <% } %>
                    </div>
                    <div class="assignments row">
                        <label for="assignments col-12">Assignments</label>
                        <% for(let i=0; i<5;i++){ %>
                        <input  class="col-5" type="text" id="assignments" name="assignments" placeholder="name">
                        <input  class="col-5" type="text" id="assignments" name="assignmentsUrl" placeholder="url">
                        <% } %>
                    </div>
                    <div class="others row">
                        <label for="others col-12">Others</label>
                        <% for(let i=0; i<5;i++){ %>
                        <input  class="col-5" type="text" id="others" name="others" placeholder="name">
                        <input  class="col-5" type="text" id="others" name="othersUrl" placeholder="url">
                        <% } %>
                    </div>
                   </div>
                    <button class="button-style">Insert</button>
                    
                </form>
            </div>
        </div>
    </main>
    <!-- Bootstrap JS -->
   <script src="/bootstrap.min.js"></script>
    <!-- SweetAlert2 JavaScript -->
    <script src="/sweetalert2.all.min.js"></script>
    <script src="/main.js"></script>
    <div class="waves" ></div>

</body>
</html> 