

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Inter:wght@100;500;700;900&family=Roboto:wght@100;300;500&family=Rubik:wght@300;500;700;900&family=Tulpen+One&display=swap" rel="stylesheet">
    <!-- Icon -->
    <link rel="icon" type="image/x-icon" href="/imgs/logo-min.svg">
    <!-- CSS  -->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/login.css">
        <title>STEMREF | Login Page</title>
</head>
<body>
    <main>
        <nav>
        <div class="container">
            <img class="logo" src="/imgs/logo.svg" alt="">
        </div>
        </nav>
        <div class="box">
            <div class="container">
                <form action="/login" method="post">
                    <!-- Username input field -->
                    <div class="username">
                        <input type="text" id="username" name="username"  required>
                        <label for="username">Username</label>
                    </div>
                    <!-- Password input field -->
                    <div class="password">
                        <input type="password" id="password" name="password" required>
                        <label for="password">Password</label>
                    </div>
                    <a href="/pages/search.html">Login</a>
                    <button>Login</button>
                </form>
            </div>
        </div>
    </main>
    <script src="/js/main.js"></script>
    <img class="waves" src="/imgs/waves.svg" alt="waves background">
</body>
</html> 