

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts -->
    <meta http-equiv="Content-Security-Policy" content="default-src *; img-src * data:; style-src * 'unsafe-inline'; font-src *; script-src * 'unsafe-inline' 'unsafe-eval';">    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Inter:wght@100;500;700;900&family=Roboto:wght@100;300;500&family=Rubik:wght@300;500;700;900&family=Tulpen+One&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap.min.css"> 
    <!-- Font Awesom -->
    <link rel="stylesheet" href="/all.min.css"> 
    <!-- Add SweetAlert2 CSS -->
    <link rel="stylesheet" href="/sweetalert2.min.css">
    <!-- Icon -->
    <link rel="icon" type="image/x-icon" href="/logo-min.svg">
    <!-- CSS  -->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/login.css">
        <title>STEMREF | Login Page</title>
</head>
<body>
    <main>
        <% if(typeof data !== 'undefined'){%>
        <% if(typeof data.err!== 'undefined'){ %>
            <script type="module">
                Swal.fire({
                    title: 'Error!',
                    text: '<%= data.err %>',
                    icon: 'error',
                    confirmButtonText: 'Ok',
                    customClass: {
                        confirmButton: 'button-style'
                      }
                  }) 
            </script>
        <% } } %>


        <nav class="navbar navbar-expand-lg navbar-dark p-lg-4 p-md-4"   style="background-color: #232323;">
            <div class="container">
              <a class="navbar-brand" href="/"><img class="logo" src="./logo.svg" alt="logo"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent"  style="background-color: #232323;">
                <ul class="navbar-nav mb-2 mb-lg-0 w-100">
                  <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
                  <li class="nav-item active  ms-md-auto"><a class="nav-link" href="/login">Login</a></li>
                  <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                </ul>
            
              </div>
            </div>
          </nav>
        <div class="box">
            <div class="container">
                <form action="/login" method="post">
                    <div class="top-text">
                        <h1>Login</h1>
                        <p class="hi-message">Glad you are back :)</p>
                    </div>
                    <!-- Username input field -->
                    <div class="username">
                        <input type="text" id="username" name="username" autocomplete="username" required>
                        <label for="username">Username</label>
                    </div>
                    <!-- Password input field -->
                    <div class="password">
                        <input type="password" id="password" name="password" required>
                        <label for="password">Password</label>
                        <i class="fa-solid fa-eye eye"></i>
                        <i class="fa-solid fa-eye-slash eye hide"></i>
                    </div>
                    <div class="remember">
                        <label for="remb">Remember me</label>
                        <input type="checkbox" name="remb" id="remb">
                    </div>
                    <a href="/forget">Forget Password?</a>
                    <!-- <a href="/register">Don't have Account?</a> -->
                    <button class="button-style">Login</button>
                    <div class="seprator">
                        <span>or</span>
                    </div>
                    <div class="Oauth-items">
                        <!-- <i class="fa-brands fa-google"></i>
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-github"></i> -->
                        <img src="/google.svg" alt="google">
                        <img src="/linkedin.svg" alt="linkedin">
                        <img src="/github.svg" alt="github">

                    </div>
                </form>
            </div>
        </div>
    </main>
      <!-- Bootstrap JS -->
     <script src="/bootstrap.min.js"></script>
    <script src="/main.js"></script>
    <script src="/login.js"></script>
    <script>
        document.querySelector('.fa-eye').addEventListener('click',()=>{
            document.querySelector('.fa-eye').classList.add('hide');
            document.querySelector('.fa-eye-slash').classList.remove('hide');
            document.querySelector('#password').type="text";
            
        })
        document.querySelector('.fa-eye-slash').addEventListener('click',()=>{
            document.querySelector('.fa-eye').classList.remove('hide');
            document.querySelector('.fa-eye-slash').classList.add('hide');
            document.querySelector('#password').type="password";

        })
    </script>
    <!-- <img class="waves" src="/waves.svg" alt="waves background"> -->
    <div class="waves" ></div>
    <!-- SweetAlert2 JavaScript -->
    <script src="/sweetalert2.all.min.js"></script>
</body>
</html> 